{{define "yield"}}
<div class="container mx-auto h-full flex justify-center items-center">
  {{template "editGalleryForm" .}}
</div>
{{ end }}

{{define "editGalleryForm"}}
<form class="w-full max-w-sm" action="/galleries/{{.ID}}/update" method="POST">
  <h1 class="text-4xl mb-10">Edit Your Gallery</h1>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
        for="title"
      >
        Title
      </label>
    </div>
    <div class="md:w-2/3">
      <input
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        id="title"
        type="text"
        name="title"
        value="{{.Title}}"
      />
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <button
        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit"
      >
        Update
      </button>
    </div>
  </div>
</form>

<form action="/galleries/{{.ID}}/delete" method="POST">
  <button
    class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
    type="submit"
  >
    Delete
  </button>
</form>

{{ end }}
