{{define "yield"}}
<div class="container mx-auto m-h-screen">
  <h1 class="font-bold">
    {{.Title}}
  </h1>
</div>
<div class="flex mb-4">
  <div class="w-full bg-gray-500 h-12">
    <p>
      Images Coming Soon...
    </p>
  </div>
</div>
{{ end }}

